numpy==2.3.5
scipy==1.17.0
pandas==2.2.3
scikit-learn==1.8.0
matplotlib==3.10.8
fooof==1.1.1
mne==1.8.0
requests==2.34.2
contourpy==1.3.3
cycler==0.12.1
fonttools==4.61.1
kiwisolver==1.4.9
packaging==26.3
pillow==12.3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
six==1.17.0
joblib==1.5.3
threadpoolctl==3.6.0
certifi==2026.7.22
charset-normalizer==3.4.4
idna==3.19
urllib3==2.7.0
decorator==5.3.1
jinja2==3.1.6
lazy-loader==0.5
pooch==1.9.0
tqdm==4.70.1
platformdirs==4.11.8
MarkupSafe==3.0.3
